*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
ul,
li,
button {
  user-select: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  opacity: 1;
  border: white solid 1px;
  background-color: transparent;
}

.swiper-pagination-bullet-active {
  background-color: white;
}
